@model AspNetTemplate.ClientEntity.ViewModel.IndexViewModel;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Home page";
    var UserRole = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
}
@section Scripts{
    <script src="~/js/pages/home/index.js"></script>
}
<div class="container text-center">
    <h3 class="display-4 mb-5">Welcome to Manage Expense System</h3>

    <div class="row justify-content-md-center">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col col-md-6 col-sm-12">
                <form>
                    <div class="form-group">
                        <label for="email" class="float-left">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Team lead account email: sam@test.com</small>
                    </div>
                    <div class="form-group">
                        <label for="password" class="float-left">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                        <small id="emailHelp" class="form-text text-muted">Team lead account password: sam@test.com</small>
                    </div>
                    <button id="btn-login" type="submit" class="btn btn-primary">Login</button>
                </form>

            </div>
        }
        else
        {
            if (UserRole == "TeamLead")
            {
                @await Html.PartialAsync("_PartialTeamLeadNote")
            }
            if (UserRole == "Finance")
            {
                @await Html.PartialAsync("_PartialFinanceNote")
            }
            if (UserRole == "Employee")
            {
                @await Html.PartialAsync("_PartialEmployeeNote")
            }
        }
    </div>
</div>
