<div class="col-md-12 text-left">
    <div class="card">
        <h5 class="card-header">Adding New Expense Note</h5>
        <div class="card-body">
            <h5 class="card-title">Adding New Expense</h5>
            <p class="card-text">
                For adding new expense file, use "Add New Expense" menu button or button below
            </p>
            <a href="/account/addexpense" class="btn btn-primary">Add New Expense</a>
        </div>
    </div>
</div>

<div class="col-md-12 mt-1 text-left">
    <div class="card">
        <h5 class="card-header">View Expenses Note</h5>
        <div class="card-body">
            <h5 class="card-title">View Expenses</h5>
            <p>For viewing your previous expenses use "View Expenses" menu button or button below.</p>
            <a href="/account/viewexpenses" class="btn btn-primary">View Expenses</a>
        </div>
    </div>
</div>
