<div class="col-md-12 mt-1 text-left">
    <div class="card">
        <h5 class="card-header">Report Expenses Note</h5>
        <div class="card-body">
            <h5 class="card-title">Report Expenses</h5>
            <p>For view expenses report use "Report Expenses" menu button or button below.</p>
            <a href="/account/reportexpenses" class="btn btn-primary">Report Expenses</a>
        </div>
    </div>
</div>